@use "../base/typography";
//font
$fontPrimary: 'PT Mono Regular';
$fontSecondary: 'Roboto Light';

//color
$primary-color: #171717;
$success-color: #4ca866;
$flame-color: #e4572e;
$coral-color: #e1bd0b;
